{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Hello HomeController!</h1>

<div>
    <a href = "{{path('app_logout')}}">Se déconnecter</a>
</div>
{% endblock %}
